/* #MainMenu{
    visibility: hidden;
} */

footer{
    visibility: hidden;
}

/* header{
    visibility: hidden;
} */

[id="607a5a78"]{
    text-align: center;
}

#page-home{
    font: optional;
    text-align: left;
}

[class="st-emotion-cache-1kyxreq e115fcil2"]{
    justify-content: center;
}
